/* Below are some global attributes that affect both pages in the application */

html {background: DarkTurquoise;}

body {font-family: sans-serif;}

.logo {position: relative;
      left: 190px; top: 50px;}

h1 {color: white;
    font-family: sans-serif;
    margin-left: -10px;}

h2 {color: white;
    font-family: sans-serif;}

h3 {color: darkslategray;
    font-family: sans-serif;
    font-size: 25pt;}

/* Below are the attributes that affect only (index.html) */

#indexBody {width:335px;
            height:770px;
            padding-left: 30px;
            border:3px solid white;
            border-radius: 25px;
            background: darkslategray;}

#heading {position: relative; left: 10px; top: 10px;
          padding-bottom: 20px;}

#form {color: white;
       height:550px;
       font-family: sans-serif;}

#leftForm {width: 300px;}


#submit {width:125px;
         height: 55px;
         font-size: 14pt;
         border-radius: 10px;
         color: white;
         cursor: pointer;
         position: relative; top:50px;
         border: 1px solid white;
         background: dodgerblue;}

#submit:hover {background: green;}

#reset {width: 125px;
        height: 55px;
        font-size: 14pt;
        border-radius: 10px;
        border: 1px solid white;
        color: white;
        position: relative; top:50px; left:30px;
        cursor: pointer;
        background: dodgerblue;}

#reset:hover {background: red;}

#openFaults {width: 125px;
               height: 55px;
               font-size: 14pt;
               border-radius: 10px;
               border: 1px solid white;
               color: white;
               position: relative; top:70px; left:80px;
               cursor: pointer;
               background: dodgerblue;}

#openFaults:hover {background: green;}

#notes_heading {position: relative; bottom: 94px;}

textArea {resize: none;
          height: 100px;
          width: 300px;}

/* Below are the attributes that affect only (faults.html) */

#faultsBody {width: 335px;
               padding-left: 30px;
               border:3px solid white;
               border-radius: 25px;
               background: darkslategray;
               height:100%;}

#heading2 {position: relative; left: 10px;}

#openFaults_1 {width: 125px;
                 height: 55px;
                 font-size: 14pt;
                 border-radius: 10px;
                 border: 1px solid white;
                 color: white;
                 cursor: pointer;
                 background: dodgerblue;}

#openFaults_1:hover {background: green;}

.nameHeading {position: relative; top:5px;}

.DivExpand {background: dodgerblue;
            border-radius: 10px;
            border: 1px solid white;
            color: white;
            width: 70px;
            cursor: pointer;
            position: relative;
            font-size: 12pt;}

.DivExpand:hover {background:green;}

.deleteContact {background: dodgerblue;
                border-radius: 10px;
                border: 1px solid white;
                color: white;
                width: 80px;
                cursor: pointer;
                font-size: 12pt;
                position: relative; float: right; right:50px}
				
.deleteContact:hover {background: red;}

.notesDiv {width:660px;
           height: 114px;
           position: relative; left: 60px; bottom: 20px;
           overflow: auto;
           word-wrap: break-word;}

div.parentDiv{color: black;
              border:3px solid white;
              border-radius: 25px;
              background-color: mediumaquamarine;
			  width: 305px;
			  position: relative; right:12px;
              padding-top:10px;
              padding-bottom: 10px;

              overflow: hidden;
              word-wrap:break-word;
              padding-left: 20px;
              box-shadow: 4px 4px 4px black;}

div.childDiv_1{width:335px;

               padding-bottom: 50px;
               height: auto;
               position:relative; top:25px;
               display:none;
               clear:both;}

#childDiv_2 {background: white;
			width: 275px;
            height: auto;
             padding:10px;
             border:1px solid black;
             border-radius: 25px;
             position: relative; top:10px; right:10px;}

img.map{border-radius: 10px;
        float:right;
        border: 2px solid black;
        position: relative; top:30px; right:10px;}









